@model IEnumerable<MIS4200Team3.Models.Refer>

@{
    ViewBag.Title = "Index";
}

<h2>Live Values Display</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.receive.fullName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CompanyValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.receive.fullName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CompanyValue)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.referneceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.referneceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.referneceID })
        </td>*@
    </tr>
}

</table>
